<h1 class="solid-bg">{{ game.left.score }} : {{ game.right.score }}</h1>
<h3>Players: {{ players }}</h3>
<h1>
    {% if game.ball.velocity[0] < 0 %}
        {% if game.ball.velocity[1] < 0 %}
            ↖
        {% else %}
            ↙
        {% endif %}
    {% else %}
        {% if game.ball.velocity[1] < 0 %}
            ↗
        {% else %}
            ↘
        {% endif %}
    {% endif %}
</h1>
{% if not game.is_running %}
<div class="fade-in game-paused">
    <h1>Game paused</h1>
    <div class="howto">
        <h3>How to play:</h3>
        <p>
            <ul>
                <li>p: (Un)pause game</li>
                <li>{{ game.left.up_key }}: Move left bat up</li>
                <li>{{ game.left.down_key }}: Move left bat down</li>
                <li>{{ game.right.up_key }}: Move right bat up</li>
                <li>{{ game.right.down_key }}: Move right bat down</li>
            </ul>
        </p>
    </div>
</div>
{% endif %}
{% if game.is_lost %}
<div class="fade-in game-paused">
    <h1>Game over</h1>
    <div class="howto">
        <p>
            <ul>
                <li>p: Start a new game</li>
            </ul>
        </p>
    </div>
</div>
{% endif %}
